*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Nunito", sans-serif;
    background-image: url(img/bg.jfif);
}

.input{
    text-align: center;
    margin: 100px 0;
}

input[type="text"]{
    height: 50px;
    width: 300px;
    background-color: #e7e7e7;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}

input[type="submit"]{
    height: 50px;
    width: 100px;
    background-color: #e7e7e7;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    font-size: 20px;
    border: none;
    box-sizing: border-box;
}

.display{
    text-align: center;
    margin: 50px auto;
    height: auto;
    width: 400px;
    box-sizing: border-box;
    background-color: #e7e7e7;
    font-size: 20px;
    
}

.creator{
    text-align: center;
    margin: 100px auto 50px auto;
    height: 10px;
    width: 400px;
    font-style: italic ;
    font-weight: bold;
}

.footer {
    text-align: center;
    position:absolute;
    bottom:0;
    width:100%;
    height: 50px;   
 }

.fb4{
    height: 110px
}


.insta{
    width: 150px;
    height: 110px;
}
